@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");
header {
	display: flex;
	flex-direction: column;
}
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}
.head1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}
.subhead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
	padding: 0 50px 0 50px;
	margin: 0 50px 0 50px;
}

.links {
	width: 700px;
	display: flex;
	justify-content: space-around;
}
.links li {
	list-style: none;
}
.blackheart {
	width: 100px;
	aspect-ratio: square;
}

.npm-logo {
	width: 80px;
	height: 20px;
}

.search-icon {
	width: 35px;
	aspect-ratio: square;
	color: white;
	margin-left: 10px;
}
.search {
	display: flex;
	background-color: rgb(239, 239, 239);
	align-items: center;
	justify-content: space-between;
	height: 70px;
	width: 120vh;
}
.search-form {
	display: flex;
}
.search-input {
	width: 800vh;
	height: 70px;
	border: none;
	background-color: rgb(239, 239, 239);
}
.search-btn {
	height: 70px;
	width: 500px;
	padding: 10px;
	background-color: black;
	color: whitesmoke;
}
.search-links ul {
	width: 250px;
	display: flex;
	justify-content: space-around;
}
.search-links li {
	list-style: none;
}
body {
	margin: 0;
	padding: 0;
	font: Roboto;
	font-size: 20px;
	line-height: 3.5em;
	font-weight: 300;
}
